* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background: linear-gradient(#ffdad5, #fff7f9);
  
}

.contact-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.contact-left{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.contact-left-title h2{
  font-weight: 600;
  color: #a363aa;
  font-size: 40px;
  margin-bottom: 5px;

}
.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: #a363aa;
  border-radius: 10px;
  margin-bottom: 20px;
}
.contact-input {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  margin-bottom: 10px;
  border-radius: 50px;
  
}
.contact-left textarea{
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}
.contact-input:focus{
  border: 2px solid #ff994f;
}
.contact-input::placeholder{
  color:#a9a9a9
}
.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg,#ff994f,#fa6d86);
  cursor: pointer;
}
.contact-left button img{
  height: 15px;

}
.contact-right img{
  width: 500px;

}
@media (max-width:800px) {
  .contact-input{
    width: 80vw;
  }
  .contact-right{
    display: none;
  }
}
/* Style for the tick icon */
.tick-icon {
  width: 50px; /* Adjust size as needed */
  height: 50px;
  display: block; /* Ensure the icon is a block element to align center */
  margin: 0 auto; /* Center horizontally */
}

/* Style for the container holding the paragraph and icon */
.success-message {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center-align text */
}

/* Style for the paragraph with icon and text */
.success-message p {
  margin: 10px 0; /* Space around the paragraph */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center text horizontally */
}

/* Style for the go-back button */
.go-back-button {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
